<div class="header">
	<a href="/">
		<div class="logo">
			{%- include 'images/svg/logo-full.svg' -%}
		</div>
	</a>
	<div class="search">
		<input type="text" placeholder="Find apps, content, and more.">
	</div>
	<div class="menu">
	</div>
</div>

<div class="subheader">
	<button class="menu-btn">
		{%- include 'images/svg/menu-icon.svg' -%}
	</button>

	<div class="avatar" role="img">
		<span aria-hidden="true">D</span>
	</div>

	<nav class="breadcrumbs">
		<ol>
			<li>
				<a href="#">
					Security
				</a>
			</li>
			<li>
				<a href="#">
					Dashboards
				</a>
			</li>
		</ol>
</div>